<ion-view title="Home">
    <ion-content class="manual-ios-statusbar-padding">
        <div class="card">
            <div class="item text-center">
                <h3>Ionic Demo for ADMobPro plugin</h3>
            </div>
        </div>

        <div class="padding">
            <button class="button button-block button-positive" ng-click="showBanner()">
                Show Banner
            </button>
            <button class="button button-block button-positive" ng-click="removeBanner()">
                Remove Banner
            </button>
        </div>
        <div class="padding">
            <button class="button button-block button-positive" ng-click="showInterstitial()">
                Show Interstitial
            </button>
        </div>
    </ion-content>
</ion-view>